#header {
    padding-top: 2em;
}

.content,
.steps,
.action {
}

fieldset {}

.itens {}


    .complete {
        width: 250px;
    }

@media (max-width: 750px){
    .complete {
        width: 50%;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

.customswitch {
    /*border:1px solid #D3D3D3;*/
    padding: 10px;
    margin: 5px;
    vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked+.slider {
    background-color: #FF7F00;
}

input.primary:checked+.slider {
    background-color: #FF7F00;
}

input.success:checked+.slider {
    background-color: #FF7F00;
}

input.info:checked+.slider {
    background-color: #FF7F00;
}

input.warning:checked+.slider {
    background-color: #FF7F00;
}

input.danger:checked+.slider {
    background-color: #FF7F00;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
    border-radius: 50%;
}

.wizard>.steps>ul>li {
    width: 80px;
    text-align: center;
}

.wizard>.steps>ul>li a:hover {
    color: #000000;
}

.errorTxt {
    min-height: 20px;
}
.wizard>.steps {
}

.wizard>.steps>ul>li, .wizard>.actions>ul>li {
    display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
}
.wizard>.steps .done a {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 50%; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 50%; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%; 
    border: 1px solid #DEB887;
    background: #DEB887;
}

.wizard>.steps .current a,
.wizard>.steps .current a:hover,
.wizard>.steps .done a:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
    border: 1px solid #FF7F00;
    background: #FF7F00;
    color: #ffffff;
}

.wizard>.steps .disabled a {
    -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
    border: 2px solid #FF7F00;
    color:#000000;
}

.wizard>.steps .disabled a:hover {
    color:#000000;
}

.wizard>.actions a {
    background: #FF7F00;
}

.wizard>.actions a:hover,
.wizard>.actions a:active {
    background: #FF7F00;
    color: #ffffff;
}

.wizard>.actions .disabled a,.wizard>.actions .disabled a:hover,.wizard>.actions .disabled a:active{
    background:#ffffff;
    color:#000000;
}

.footer .logo-umv{
    margin: -40px;
    }

    #wizardform {
        max-width: 1000px;
    }