* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

#header .logo,
#header .logo:hover {
    color: #000000 !important;
}

.header{
    height: 90px;
    border-bottom: 3px solid #FF8000;
    background: url("../../static/img/header_bg.png") center center no-repeat black;
    }
    .header .logo-flixpreco{
    text-align: left;
    padding: 15px 0;
    }
    .header .logo-flix{
    text-align: right;
    padding: 25px 0;
    }

    .footer {
        clear: left;
        width:100%;
        position: relative;
        float: left;
        }

        .footer .logo-umv{
        width:100%;
        text-align: center;
        }
        
        body {
        background: #f47200;
        }
        
        #wrapper {
        background:#ffffff;
        }
        
        /* width */
        ::-webkit-scrollbar {
        width: 10px;
        background: #ffffff;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
        border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #FF7F00; 
        border-radius: 10px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
        }